<div class="form-row">
  <div class="form-group col-md-2.5">
    <h3>
      <a href="/admin/addProduct" class="btn btn-success"><i
          class="fa fa-plus"
        ></i>
        Thêm sản phẩm</a>
    </h3>
  </div>
  <div class="form-group col-md-2.5">
    <h3>
      <a href="/admin/user" class="btn btn-primary" class="fa fa-plus">Quản lý
        khách hàng</a>
    </h3>
  </div>
  {{! <div class="form-group col-md-2.5">
<h3>
        <a href="/logout"class="btn btn-danger" class="fa fa-plus" >Đăng xuất</a>
</h3>
        </div>  }}

</div>
<table class="table table-bordered">
  <thead style="background-color: #32383e; color: aliceblue;">
    <tr>
      <th>Mã sản phẩm</th>
      <th>Tên sản phẩm</th>
      <th>Giá</th>
      <th>Hình Ảnh</th>
      <th>Màu</th>
      <th>Loại sản phẩm</th>
      <th>Mã khách hàng</th>
      <th>Tên khách hàng</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each product}}
      <tr>
        <td style="text-align: center;">{{this.code_product}}</td>
        <td style="text-align: center;">{{this.name_product}}</td>
        <td style="text-align: center;">{{this.price}}</td>
        <td style="text-align: center;"><img
            src="{{this.image}}"
            style="width: 100%;height:80px;;
                border-color: black;"
          /></td>
        <td style="text-align: center;">{{this.color}}</td>
        <td style="text-align: center;">{{this.type_product}}</td>
        <td style="text-align: center;">{{this.id_KH}}</td>
        <td style="text-align: center;">{{this.name_KH}}</td>
        <td style="text-align: center;">
          <div class="btn-group">
            <a href="/admin/editProduct/{{this._id}}"><i
                class="fa fa-pencil fa-lg"
                aria-hidden="true"
              ></i></a>
            <a
              href="/admin/deleteProduct/{{this._id}}"
              onclick="return confirm('Bạn có muốn xoá sản phẩm này không ?');"
            ><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
          </div>

        </td>
      </tr>
    {{/each}}
  </tbody>
</table>